body{
   line-height: 150%;
}


header, nav{
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1px;
    padding-bottom: 3%;

}
nav ul li{
    display: inline;
    margin: auto;
    padding: 2%;
    font-size: large;
    background-color:rgb(215, 236, 255);
    /* Set display, margin, padding, font-size, background-color */
}

nav a{
    text-decoration: none;
    /* Set text decoration*/
}

a:visited{
    color: black;
    /* Set color */
}

nav a.current{
    text-decoration: underline wavy;
    text-transform: uppercase;
    text-underline-offset: 4px;
    /* Set text decoration, transformation, and underline properties */
}


h1{
    font-family: Merriweather, Anton, "Times New Roman";
    font-size: xx-large;
   /*Set font and font size*/

}

h2{
    font-family: Anton, "Times New Roman", Courier;
    font-size: x-large;
    text-align: center;
    /*Set font, font size, and alignment*/
}

h3{
    font-size: larger;
    /*Set font size*/

}

h1, h2, h3{
    margin-top: 2%;
    /*Set margin */

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
}

.grid div{
    /* Set border properties, padding, and background color */

}

.grid img{
    /* Set width, margin, and display */
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
    text-indent: 50px;
    /* Set indentation */
}

p{
    margin: 2%;
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
